<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wangfuhe.wfh.second_shop"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera"/>

    <!-- 二手市场   permission start -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 二手市场   permission end -->
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".base.AppBase"
        android:allowBackup="true"
        android:icon="@drawable/ui"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Instanview"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.MyselfInfo"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity
            android:name=".activity.UploadGoods"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.UploadedGoods"/>
        <activity
            android:name=".activity.CollectGoods"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.SelledGoods"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".base.BaseActivity">
        </activity>
    </application>

</manifest>
